.content {
    padding: 3%;
}

#page_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.content_buttons {
    padding: 1%;
}
.content_buttons button {
    margin-right: 10px;
}
.item {
    float: left;
    padding-right: 1%;
}
.item img {
    cursor: pointer;
}
#submit_btn {
    margin-top: 3%;
}