.content {
    padding: 3%;
}

#page_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.content_buttons {
    padding: 1%;
}
.content_buttons button {
    margin-right: 10px;
}
.item {
    float: left;
    padding-right: 1%;
}
.item img {
    cursor: pointer;
}


.gif{
    width: 200px; 
    height: auto;
    /*position:relative;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size:cover;*/
}

#submit_btn {
    margin-top: 3%;
}


